<h2 style="margin-top: 0; margin-left: 30px">Posts</h2>

<div class="container">
	<% @posts.each do |post| %>
	    <div class="row">
	        <div class="titulo  "><h4><strong><%= link_to post.title, post_path(post) %> </div></h4>
	        <div class="col-md-12 post-header-line">
	            <span class="glyphicon glyphicon-user"></span>by <%= "#{post.user.first_name} #{post.user.last_name}" %> | <%= post.interactions["likes"] %> Likes | <%= post.interactions["hearts"] %> Hearts | <%= post.interactions["dislikes"] %> Dislikes
	        </div>
	    </div>
	<% end %>
</div>